$main-color: #4e6cb4;
.main-case{
    position: relative;
    height: 740px;
    padding-top: 40px;
    overflow: hidden;
    // z-index: 0;
    a{
        text-decoration: none;
    }
    .case-bg{
        position: absolute;
        z-index: -1;
        height: 0;
        width: 100%;
        height: 370px;
        top: 50%;
        overflow: hidden;
        img{
            position: absolute;
            left: 50%;
            top: 50%;
            display: block;
            min-width: 100%;
            min-height: 100%;
            transform:translate(-50%,-50%);
        }
    }
    .case-container{
        background-color: #f7f7f7;
        height: 600px;
    } 
    .slick-case{
        width: 300px * 3;
        margin: 40px auto;
        position: relative;
        .case-item{
            width: 300px;
            text-align: center;
        }
        .card{
            margin: 0 auto;
            width: 250px;
            height: 360px;
            border: none;
            border-radius: 0;
            margin: 0;
            text-align: left;
            margin: 0 auto;
            .card-img-top{
                width: 250px;
                height: 130px;
                overflow: hidden;
                background-color: $main-color;
                a{
                    margin: 0;
                    padding: 0;
                    display: block;
                    text-align: center;
                    line-height: 130px;
                    height: 130px;
                    @extend .text-truncate;
                }
                img{
                    height: 130px; 
                    width: 250px;
                    padding: 0;
                    margin: 0;
                    display: block;
                    transition: all 0.4s;
                }
                span{
                    color: #fff;
                    font-size: 18px;
                    transform: rotate(-45deg);
                    display: block;
                    transition: all 0.4s;
                }
                &:hover{
                    span{
                        transform: rotate(45deg);
                    } 
                    img{
                        transform:scale(1.2);
                    }
                }
            }
            .card-body{
                padding: 40px;
            }
            .card-title,.card-title a{
                color: #404040;
                font-size: 1rem;
                &:hover{
                    color: lighten($color: $main-theme-color, $amount: 20%)
                }
            }
            .entry-summary{
                // white-space: nowrap;
                p{
                    @extend .text-truncate;
                }
            }
            .tags{
                margin-top: 30px;
                border-top: 1px solid #ebebeb;
            }
            .tags a{
               padding: 0 6px;
               display: inline-block;
               line-height: 24px;
               border: 1px solid $main-color; 
               color: $main-color;
               margin-top: 10px;
               margin-right: 10px;
            }
        }
    }
    .slick-control-prev, .slick-control-next{
        position: absolute;
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: #cecece;
        color: #f7f7f7;
        text-align: center;
        line-height: 40px;
        top: 50%;
        opacity: 1;
        border-radius: 4px;
        margin-top: -40px;
        cursor: pointer;
        .iconfont{
            font-size: 18px;
            font-weight: bolder;
            color: #f7f7f7;
        }
        &:hover{
            background-color: darken($color: #cecece, $amount: 20%);
        }
    }
    .slick-control-prev{
        left: -164px;
    }
    .slick-control-next{
        right: -164px;
    }
}

.news-market{
    margin-top: 70px;
    display: block;
    .market-content,.news-content{
        margin-top: 30px;
        .list-item{
            padding: 20px 0;
        }
    }
    .text-truncate{
        margin-bottom: 20px;
    }
    .list-item-time{
        margin: 0;
    }
    .market-content{
        .text-truncate{
            font-size: 16px;
        }
        .list-item{
            border-bottom: 1px solid #ebebeb;
            &:last-child{
                border-bottom: none;
            }
        }
        .list-item-img{
            width: 80px;
            height: 80px;
        }
    }
    a{
        text-decoration: none;
    }
    .news-content{
        border: 1px solid #ebebeb;
        padding: 20px;
    }

    @media (max-width: 768px) {
        .news-content{
            .list-item-img{
                width: 100%;
                height: auto;
                float: inherit;
            }
            .list-item-body{
                margin-top: 20px;
                width: 100%;
                padding-left: 0;
            } 
        }
    }
}
