.right-toolbar{
    position: fixed;
    right: 0;
    bottom: 100px;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li{
        padding: 0;
        margin: 0;
    }
    &>ul{
        margin-right: 20px;
    }
    &>ul>li{
        display: inline-block;
        width: 48px;
        height: 48px;
        padding: 6px;
        background-color: rgba($color: #000000, $alpha: 0.6);
        color: #ffffff;
        cursor: pointer;
        &:hover{
            background-color: rgba($color: #000000, $alpha: 0.3)
        }
    }
    .scroll-top{
        display: none;
        text-align: center;
        line-height: 36px;
        .iconfont{
            font-size: 24px;
        }
    }

}