.single .wrap{
    background-color: #efefef;
    margin: 0;
    overflow: hidden;
}
.single-content{
    position: relative;
    min-height: 720px;
    margin: 20px auto;
  
}

.page-single{
    background-color: #fff;
    padding: 20px;
    line-height: 2;
}   

.author-time{
    border-top: 1px solid #efefef;
    padding-top: 20px;
}