// 全屏模版
.template-full{
    .wrap{
        margin: 0;
    }
}

.template-page{
    .wrap{
        background-color: #efefef;
        margin: 0;
        overflow: hidden;
    }
    .page-container{
        position: relative;
        min-height: 720px;
        margin: 20px auto;
    }
    .page-content{
        background-color: #fff;
        padding: 20px;
    }
}

.sub-title{
    h3{
        margin: 0;
        P:first-child{
            color: #5376fb;
            padding-right: 14px;
            margin-right: 14px;
            border-right: 2px solid #c1c1c1;
            line-height: 34px;
        }
        p{
            color: #c1c1c1;
            font-weight: 100;
            margin: 0;
        }
    }
}

.sub-icon-title{
    padding: 25px;
    &.active{
        background-color: #efefef;
    }
}