.custom-header-banner{
  position:relative;
  z-index: -1;
  height: 0;
  .wp-custom-header{
    overflow:hidden;
    position: relative;
    height: 980px;
  }
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    min-width: 100%;
    min-height: 100%;
    transform:translate(-50%,-50%);
  }
}

.navbar-nav a {
  @extend .nav-link;
}
.navbar-nav li {
  @extend .nav-item;
}

.main-header {
  background-color: $black;
  position: relative;
  z-index: 2;
  &.main-header-index{
    background-color: transparent;
  }
  .navbar{
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-brand img{
    width: 126px;
    height: 60px;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-nav a{
    color: #fff;
    font-size: 1.1rem;
    margin:0 1.4rem;
    position: relative;
    padding: 1.4rem 0;
    &:hover{
      color: $main-theme-color;
    }
  }
  .menu-item>a::after{
    content: "";
      width: 100%;
      height: 3px;
      left: 0;
      top: 0px;
      position: absolute;
      display: block;
      background-color: transparent;
      transition: all 0.4s;
  }
  .menu-item>a:hover, .current_page_item>a{
    &::after{ 
      background-color: #fff;
    }
  }
  &.main-header-page{
    .navbar-brand{
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
      img{
        width: 83px;
        height: 40px;
      }
    }
    .navbar-nav a{
      font-size: 1rem;
      padding: 1.2rem 0;
    }
  }
}


