/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  // primary: #525ddc
);

$font-size-base: 0.875rem;
$line-height-base: 1.75;
/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
