/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #0073eb
);
$body-color: #444444;
$font-size-base: 0.875rem;
$line-height-base: 1.75;
/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
$font-family-base: arial,tahoma,Hiragino Sans GB,Microsoft YaHei,sans-serif;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1220px
);
$main-theme-color: #0073eb;